body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f1eb;
    color: #333;
    font-size: 20px;
    line-height: 1.8;
}
 
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intro {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    text-align: center;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 19px;
    margin-bottom: 30px;
}


.start-button {
    display: inline-block;
    background-color: #d8b59c;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #caa68c;
}

.question-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.answers li {
    font-size: 20px;
    margin-bottom: 14px;
}

input[type="radio"] {
    transform: scale(1.4);
    margin-right: 10px;

}

.submit-button {
    background-color: #d8b59c;
    color: white;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
}

.submit-button:hover {
    background-color: #caa68c;
}

@media (max-width: 600px) {
    .container {
        padding: 16px;
    }

    h1 {
        font-size: 24px;
    }

    .question-title {
        font-size: 22px;
    }

    .answers li {
        font-size: 19px;
    }
}

@media only screen and (max-width: 540px) {
    label{
        font-size: 30px;
    }
    input[type="radio"] {
        width: 30px;
        height: 30px;
    }
}

